@{
    ViewData["Title"] = "Trang chủ Adidas Store";
}

<div class="container mt-5 text-center">
    <h1 class="display-4 mb-3">Chào mừng đến với Adidas Store!</h1>
    <p class="lead mb-4">
        Khám phá các sản phẩm giày, quần áo, phụ kiện thể thao chính hãng với nhiều ưu đãi hấp dẫn.
    </p>
    <a href="/Products" class="btn btn-primary btn-lg mb-4">Xem Sản Phẩm</a>
    <hr class="my-4" />
    <div class="row justify-content-center">
        <div class="col-md-8">
            <img src="https://static.vecteezy.com/system/resources/previews/010/994/239/non_2x/adidas-logo-black-symbol-clothes-design-icon-abstract-football-illustration-with-white-background-free-vector.jpg"
                 alt="Adidas Logo" class="img-fluid rounded shadow-sm" style="max-width: 250px;" />
        </div>
    </div>
    <p class="mt-4">
        <a href="https://learn.microsoft.com/aspnet/core" target="_blank">
            Tìm hiểu về phát triển ứng dụng Web với ASP.NET Core
        </a>
    </p>
</div>